.card__delete {
  width: 18px;
  height: 19.3px;
  background-color: transparent;
  background-image: url("../../../images/Trash.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: opacity .5s;
}

.card__delete:hover,
.card__delete:focus {
  opacity: 0.6;
  cursor: pointer;
  outline: none;
}