.profile__info {
  align-self: center;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 24px;
  grid-template-areas: 
    "name button"
    "status status";
  column-gap: 18px;
  row-gap: 16px;
  margin-right: 80px;
}