.card__like {
  width: 22px;
  height: 19px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../../../images/like.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: opacity .5s;
  flex-shrink: 0;
}

.card__like:hover,
.card__like:focus {
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}