.profile-form__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 5px 5px 13px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.21;  
}

.profile-form__field:last-of-type {
  margin-bottom: 50px;
}

@media screen and (max-width: 569px) {
  .profile-form__field:last-of-type {
    margin-bottom: 45px;
  }
}